* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,body {
	width: 100%;
	min-width: 1000px;
	height: 1000px;
	background: #f4f4f4;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	color: #666;
}
.wrapper {
	width: 100%;
	height: 100%;
}

img {
	border: none;
	display: block;
}
input{
	outline: none;
}
li {
	float: left;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	font-size: 100%;
}
/*-----------------header---------------------*/

header {
	height: 246px;
	background: #fff;
	z-index: 10;
}

header .top_no {
	width: 100%;
	height: 50px;
	background: rgb(255, 56, 89);
	text-align: right;
	position: relative;
}

header .top_no_img {
	width: 1000px;
	margin: 0 auto;
}

header .top_no #top_no_close {
	font-size: 14px;
	position: absolute;
	right: 55px;
	top: 1px;
	color: #fff;
	cursor: pointer;
}

header .nav {
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #EEEEEE;
	position: relative;
}



header .nav .top-nav-l {
	float: left;
}

header .nav .top-nav-r {
	float: right;
}

header .nav li {
	margin-right: 5px;
}

header .nav span {
	color: #999;
	margin-right: 3px;
}

header .nav .top-otherlogin,
header .nav .top-kefu {
	padding-left: 10px;
}

header .nav .bgpic {
	background: url(../img/icon_index.png) no-repeat 0 0;
	display: inline-block;
	width: 17px;
	height: 16px;
	vertical-align: middle;
}

header .nav .goodspic {
	background-position-x: -24px;
}

header .nav .top-qqpic {
	background-position-x: -378px;
}

header .nav .top-zfbpic {
	background-position-x: -413px;
}

header .nav .top-360pic {
	background-position-x: -447px;
}

header .nav .top-wbpic {
	background-position-x: -485px;
}

header .nav .xsjpic {
	background-position: -89px -4px;
}

header .nav .sjxpic {
	background-position: -66px -23px;
}

header .nav .geduan {
	padding: 0 1px;
	color: #ddd;
}

header .nav .top-kefu strong {
	font-weight: normal;
	font-size: 14px;
	color: #888;
	margin-left: 5px;
}
/*鼠标划过变色*/
header .nav a:hover span,
header .top-mymlg-two li:hover a,
header .top-register span{
	color: #CB351A;
}

header li:hover .goodspic {
	background-position-x: -44px;
}

header li:hover .sjxpic {
	background-position-x: -43px;
}

header li:hover .xsjpic {
	background-position-x: -69px;
}

header .top-mymlg,
header .top-goods {
	position: relative;
	height: 36px;
	text-indent: 10px;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-bottom: none;
}
header .top-nav-menu-two{
	background: #fff;
	padding:0 10px;
	position: absolute;
	left: -1px;
	top: 35px;
	border: 1px solid #ccc;
	border-top: none;
	box-sizing: border-box;
	display: none;
	overflow: hidden;
	z-index: 2;
}
header .top-mymlg-two li{
	float: none;
	line-height: 24px;
	height: 24px;
}
header .top-mymlg-two li:nth-of-type(1){
	margin-top: 1px;
}
header .top-mymlg-two li a{
	color: #999;
}
header .top-nav-menu-hover{
	border-color: #ccc;
	z-index:2;
	background: #fff;
}
header .top-goods .top-goods-two{
	left: -144px;
	top: 35px;
	padding: 0;
}

header .head-top{
	width: 1190px;
	margin: 0 auto;
	position: relative;
/*	overflow:hidden;*/
	height: 124px;
}
header .head-top .search{
	position: relative;
	width: 625px;
	height: 88px;
	padding: 35px 0 0 355px;
	float: left;
}

header .head-top .search .head-top-l{
	width: 300px;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
}
header .head-top .search .head-top-r{
	float: right;
}
header .head-top .search .head-top-r img{
	width: 200px;
	height: 90px;
	margin-top: 15px;
}
header .head-top .search form input[type="text"]{
	width: 400px;
	border: 2px solid #cb1e00;
	height: 35px;
	font-size: 14px;
	text-indent: 11px;
	float: left;
	text-align: left;
}
header .head-top .search form input[type="submit"]{
	width: 90px;
	height: 39px;
	background: #cb1e00 ;
	font-size: 16px;
	border: 0;
	color: #FFF;
	text-align: center;
	line-height: 39px;
	float: left;
}

header .head-top .search .hot{
	width: 423px;
	height: 26px;
	float: left;
	text-align: left;
	line-height: 26px;
	color: #9a9a9a;
}
header .head-top .search .hot a{
	color: #9a9a9a;
	font-size: 12px;
	padding: 0 5px;
}
header .head-top .search .hot .on{
	color:#ef0000;
}

input::-webkit-input-placeholder{
	color:#b8b8b8;
}
input::-moz-placeholder{
	color:#b8b8b8;
}
input:placeholder{
	color:#b8b8b8;
}
input:-ms-input-placeholder{
	color:#b8b8b8;
}
header .head-top .search form{
	height: 39px;
	position: relative;
}
header .head-top .search .search-show{
	position: absolute;
	top: 74px;
	left: 354px;
	width: 404px;
	background: #fff;
	text-indent: 5px;
	box-sizing: border-box;
	/*border:1px solid #ccc;*/
	z-index: 20;
}
header .head-top .search .search-show li{
	line-height: 25px;
	height: 25px;
	float: none;
}
header .head-top .search .search-show li a{
	color: #666;
}
header .head-top .search .search-show li:hover{
	background: pink;
}


/*nav*/
header .nav-ind{
	line-height: 36px;
	height: 36px;
}
header .nav-ind .open-m,
article .menubox .menubox-left .open-m{
	width: 180px;
	text-align: center;
	background: #cb351A;
	color: #fff;
	font-size: 15px;
}
header .nav-ind .open-menu-btn{
	float: left;
	line-height: 36px;
	height: 36px;

}
header .nav-ind .nav-ind-list{
	position: relative;
	overflow: hidden;
	display: inline-block;
}
header .nav-ind .nav-ind-list li{
	height: 36px;
}
header .nav-ind .nav-ind-list li a{
	margin: 0 12px;
	font-size: 16px;
	display: inline-block;
	height: 34px;
	color: #666;
}

header .nav-ind .nav-ind-list li:nth-of-type(1) a{
	color: #c8391d;
}
header .nav-ind .nav-ind-list .active{
	border-bottom: 2px solid #c8391d;
	position: absolute;
	left: 0;
	margin: 0 12px;
	bottom: 0;
	width: 32px;
}
header .nav-ind .nav-ind-list .active::after{
	content: '';
    height: 0;
    width: 0;
    border: 4px solid #c8391d;
    border-top: 0px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom:0;
    left:48%;
}
header .nav-ind .nav-cart{
	float: right;
	width: 198px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e4e4e4;
	text-align: center;
	background: #f9f9f9;
}
/*-----------------article---------------------*/

article {
	width: 1280px;
	height: 480px;
	margin: 0 auto;
	position: relative;
}
article .lbt .lbt_list{
	position: absolute;
	top: 0;
	/*left: 218px;*/
	width: 100%;
}
article .lbt .lbt_list:a:after{
	content: "";
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
article .lbt .lbt_list li{
	display: none;
	height: 480px;
	width: 100%;
	margin: auto;
	padding-left: 218px;
	position: absolute;
	top: 0;
	left: 0;
}
article .lbt .lbt_list li img{
	width: 810px;
	height: 480px;
}
article .lbt .lbt_ol{
	position: absolute;
	left: 50%;
	bottom: 12px;
	margin-left: -412px;
	
}
article .lbt .lbt_ol li{
	margin-right: 1px;
	position: relative;
	opacity: 0.8;
}
article .lbt .lbt_ol li:nth-of-type(1){
	top:-8px;
}

/*left menu*/
article .menubox .menubox-left{
	padding-left: 37px;
}
article .menubox .menubox-left .left-menu-group{
	position: relative;
	border-bottom: 1px solid #b82f17;
	border-top: 1px solid #da5a44;
	height: 49px;
	text-align: left;
	float: none;
	padding: 1.2px 0;
	cursor: pointer;
}
article .menubox .menubox-left .left-menu-group i{
	width: 36px;
	height: 49px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	transition: all 1s;
}
article .menubox .menubox-left .left-menu-group h5{
	line-height: 20px;
	margin-top: 5px;
}
article .menubox .menubox-left .left-menu-group span{
	color: #eca598;
	font-size: 12px;
	margin-right: 5px;
}
article .menubox .menubox-left .left-menu-group:hover{
	background: #a90000;
}
article .menubox .menubox-left .left-menu-group:hover i{
	width: 50px;
}

article .menubox  .menubox-two{
	position: absolute;
	top: 0;
	left:218px;
	width: 400px;
	height: 480px;
	box-shadow: 0 0 2px #CCCCCC inset;
	z-index: 5;
	background: #fff;
	opacity: 0.8;
	display: none;
}
article .menubox  .menubox-two .menubox-two-con{
	line-height: 20px;
	padding: 12px 8px 12px 15px;
}
article .menubox  .menubox-two .menubox-two-con .menubox-two-con-group{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 8px;
	margin-bottom: 12px;
}
article .menubox  .menubox-two .menubox-two-con .menubox-two-con-group h3{
	font-weight: 600;
}
article .menubox  .menubox-two .menubox-two-con .menubox-two-con-group a{
	margin-right: 17px;
	color: #666;
	display: inline-block;
}
article .menubox  .menubox-two .menubox-two-con .menubox-two-con-group .menubox-two-con-color,
article .menubox  .menubox-two .menubox-two-con .menubox-two-con-group a:hover{
	color:#cb3e25 ;
}

article .menuright{
	position: absolute;
	right: 52px;
	top: 0;
	width: 200px;
	height: 480px;
}
article .menuright img{
	width: 100%;
	height: 100%;
}
/*-----------------广告位---------------------*/

.guanggao {
	height: 200px;
	margin-bottom: 25px;
}
.guanggao .guanggao_le{
	float: left;
}
.guanggao .guanggao_ri{
	float: right;
}
/*-----------------天天特卖---------------------*/

.tiantian {
	height: 644px;
	margin-bottom: 25px;
}
.tiantian .tiantian-tit-top{
	height: 38px;
	line-height: 41px;
	margin-bottom: 3px;
}
.tiantian .tiantian-tit-top h2{
	font-size: 18px;
	color: #c53616;
	margin:0 10px 0 43px ;
	font-weight: 600;
	float: left;
}
.tiantian .tiantian-tit-top .tiantian-bet-con{
	float: left;
	font-size: 14px;
	color: #999;
	margin-top: 3px;
	position: relative;
}
.tiantian .tiantian-tit-top .tiantian-bet-con i{
	font-style: normal;
	letter-spacing:-4px;
	display: inline-block;
	font-family: "microsoft yahei";
}
.tiantian .tiantian-tit-top a{
	float: right;
	letter-spacing:1px;
}
.tiantian .tiantian-content{
	width: 1200px;
}
.tiantian .tiantian-content .tian-con-group{
	width: 290px;
	margin: 0 10px 10px 0;
	background: #fff;
	box-shadow: 0 0 5px #d8d7d7;
	float: left;
}
.tiantian .tiantian-content .tian-bottom{
	padding: 0 10px;
	height: 60px;
}
.tiantian .tiantian-content .tian-bottom .tian-con-gro-l{
	float: left;
	font-size: 14px;
	line-height: 24px;
	margin-top: 6px;
	width: 176px;
}
.tiantian .tiantian-content .tian-bottom .tian-con-gro-l .tian-font-r{
	font-size: 12px;
	color: #999;
	text-align: right;
}
.tiantian .tiantian-content .tian-bottom .tian-con-gro-r{
	float: right;
	line-height: 50px;
}
.tiantian .tiantian-content .tian-bottom .tian-con-gro-r i{
	font-size: 32px;
	font-weight: bold;
	margin-right: 3px;
	color: #e02200;
}
/*-----------------吸顶的楼层---------------------*/

.bar {
	width: 100%;
	height: 26px;
	background: #fff;
	padding: 10px 0;
	font-size: 16px;
	line-height: 26px;
	box-shadow: 0 3px 5px #ccc;
	z-index: 99;
}
.bar span{
	float: left;
	margin-right: 5px;
}
.bar .bar-menu-con{
	color: #e02200;
	padding:0 18px;
}
.bar .bar-ind-list li{
	padding: 0 10px;
	margin:0 10px;
}
.bar .bar-ind-list li:hover{
	color:#f40;
}
/*-----------------层数---------------------*/

.floorcon .floor-con{
	height: 490px;
	margin-top: 4px;
}
.floorcon .floor-con .floor-left{
	width: 178px;
	margin-right: 10px;
	float: left;
	border: 1px solid #ededed;
}
.floorcon .floor-con .floor-left .floor-left-top{
	height: 42px;
	width: 178px;
	background: #03a4fe;
	border-bottom: 4px solid #c9ebff;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
	color: #fff;
}
.floorcon:nth-of-type(2) .floor-con .floor-left .floor-left-top{
	background: #fb5d5c;
	border-bottom-color: #ffd0d0;
}
.floorcon:nth-of-type(3) .floor-con .floor-left .floor-left-top{
	background: #32b16a;
	border-bottom-color: #badecd ;
}
.floorcon:nth-of-type(4) .floor-con .floor-left .floor-left-top{
	background: #50d4d9;
	border-bottom-color: #cef0f0 ;
}
.floorcon:nth-of-type(5) .floor-con .floor-left .floor-left-top{
	background: #f362b3;
	border-bottom-color: #fcd6eb ;
}
.floorcon:nth-of-type(6) .floor-con .floor-left .floor-left-top{
	background: #7863de;
	border-bottom-color: #d9d4f3 ;
}
.floorcon:nth-of-type(7) .floor-con .floor-left .floor-left-top{
	background: #fc9b61;
	border-bottom-color: #ffe2d1 ;
}
.floorcon:nth-of-type(8) .floor-con .floor-left .floor-left-top{
	background: #a4cc4e;
	border-bottom-color: #e1eccc ;
}
.floorcon:nth-of-type(9) .floor-con .floor-left .floor-left-top{
	background: #c173d8;
	border-bottom-color: #f1ccff;
}
.floorcon .floor-con .floor-left .floor-left-top b{
	margin-right: 11px;
}
.floorcon .floor-con .floor-left .floor-left-bet{
	height: 210px;
	padding: 13px 0 13px 25px;
	background: #fff;
}
.floorcon .floor-con .floor-left .floor-left-bet a{
	display: inline-block;
	width: 62px;
	height: 30px;
	color: #666;
	line-height: 30px;
	margin-right: 10px;
}
.floorcon .floor-con .floor-left .floor-left-bet .floor-left-color{
	color:#03a4fe ;
}
.floorcon .floor-con .floor-left .floor-left-bottom{
	height: 207px;
	width: 178px;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.floorcon .floor-con .floor-left .floor-left-bottom .floor-left-bottom-xlb{
	width: 1000px;
	position: absolute;
	left: 0;
	top: 0;
}
.floorcon .floor-con .floor-left .floor-left-bottom .floor-left-bottom-xlb li{
	float: left;
	width: 180px;
	height:150px ;
}
.floorcon .floor-con .floor-left .floor-left-bottom .floor-left-bottom-xlb a{
	width: 90px;
	height: 35px;
	display: block;
	margin: 15px auto 0;
}
.floorcon .floor-con .floor-left .floor-left-bottom .floor-left-bottom-xlb img{
	width: 90px;
	height: 35px;
}
.floorcon .floor-con .floor-bet{
	width: 520px;
	margin-right: 10px;
	float: left;
}
.floorcon .floor-con .floor-bet .floor-bet-top{
	height: 322px;
	border: 1px solid #ededed;
	margin-bottom: 10px;
	background: #fff;
}
.floorcon .floor-con .floor-bet .floor-bet-bottom{
	height: 155px;
	border: 1px solid #ededed;
	background: #fff;
}
.floorcon .floor-con .floor-right{
	width: 470px;
	float: left;
}
.floorcon .floor-con .floor-right .floor-right-l{
	width: 230px;
	float: left;
}
.floorcon .floor-con .floor-right .floor-right-l .floor-right-l-t{
	height: 322px;
	border: 1px solid #ededed;
	margin-bottom: 10px;
	background: #fff;
}
.floorcon .floor-con .floor-right .floor-right-l .floor-right-l-b{
	height: 155px;
	border: 1px solid #ededed;
	background: #fff;
}
.floorcon .floor-con .floor-right .floor-right-r{
	width: 230px;
	float: right;
}
.floorcon .floor-con .floor-right .floor-right-r div{
	height: 155px;
	border: 1px solid #ededed;
	margin-bottom: 10px;
	background: #fff;
}
.floorcon .floor-con .floor-right .floor-right-r .floor-right-r-b{
	margin-bottom: 0;
}
/*-----------------达人推荐---------------------*/

.daren {
	height: 689px;
	background: pink;
}


/*-----------------ulli展示区show---------------------*/

.show {
	height: 211px;
	background: blue;
}

/*-----------------footimg--------------------*/

.footimg {
	height: 380px;
	background: url(../img/footBg.jpg) no-repeat center center;
}


/*-----------------footer--------------------*/

footer {
	height: 498px;
	background: skyblue;
}


/*-----------------公用的类---------------------*/

.article {
	width: 1190px;
	margin: 0 auto;
}

.mtop25 {
	margin-top: 25px;
}

.mtop15 {
	margin-top: 15px;
}