body{
    background: #fff;
}
@mixin public($h:0px,$w:0px){
    position: absolute;
    top: $h;
    left: $w;
}
@mixin publicimg(){
   display: inline-block;
   vertical-align: middle;
}
@mixin publicwh($w,$h){
   width: $w;
   height: $h;
}
#main{
   overflow: hidden;
}
.menubox{
    display: none;
}
#header-wrap .open-menu-btn{
    cursor: pointer;
}

.main-top{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #000;
}
.main-top .main-top-con{
    width: 1190px;
    margin: 0 auto;
}
.main-top .main-top-con i{
    color: #B8B8B8;
    font-style: normal;
}

.wrapper-proinfo{
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.proinfo-left{
    float: left;
    .video-box{
        z-index: 100;
        display: none;
        @include public();
        video{
            width: 350px;
            height: 350px;
            background: #000;
        }
        .video-close{
            width: 22px;
            height: 22px;
            display: inline-block;
            @include public(10px,320px);
            background: url(../img/xianqingyeicon.png) no-repeat -854px -824px;
            cursor: pointer;
        }
    }
   
    .video-btn{
        cursor: pointer;
        @include public(300px,20px);
        width: 40px;
        height: 40px;
        display: inline-block;
        background: url(../img/xianqingyeicon.png) no-repeat -1016px -200px;
        z-index: 99;
    }
 
}
.box{
    width: 350px;
    height: 400px;
    position: relative;
    z-index: 99;
}
.box .middle{
    width: 350px;
    height: 350px;
    @include public();
    box-sizing: border-box;
    border: 1px solid #ccc;
    img{
        display: none;
        width: 100%;
        height: 100%;
    }
}
.box .small{
    width: 100%;
    height: 50px;
    @include public(350px,0px);
    box-sizing: border-box;
    img{
        display: inline-block;
        float: left;
        width: 50px;
        height: 50px;
        margin-left: 16px;
        box-sizing: border-box;
    }
}
.box .big{
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    @include public(0px,360px);
    overflow: hidden;
    box-sizing: border-box;
    display: none;
    img{
        display: none;
         @include public();
    }
}
.box .mask{
    width: 175px;
    height: 175px;
    background: rgba(0,0,0,.2);
    @include public();
}
.proinfo-main{
    padding:0 30px;
    float: left;
    .proinfo-tit{
        padding: 13px 10px 12px;
        height: 94px;
        box-sizing: border-box;
        h2{
            min-height: 24px;
            font-size: 16px;
            span{
                font-size: 12px;
                width: 50px;
                height: 24px;
                display: inline-block;
                line-height: 24px;
                text-align: center;
                background: #f50;
                color: #fff;
            }
        }
        p{
            color: #f60;
            a{
                color: #6a9fde;
                text-decoration: underline;
            }
        }
    }
    .tit-img{
        height: 40px;
        width: 100%;        
    }
    
    .proinfo-price{
        .proinfo-price-back{
            position: relative;
            padding: 14px 0 8px;
            background: url(../img/xqyprice.png) no-repeat;
            margin-bottom: 15px;
        }
        dl{
            overflow: hidden;
            line-height: 30px;
            height: auto;
            margin-bottom: 2px;
            padding-left: 10px;
            dt{
                color: #999;
                float: left;
                width: 72px;
                letter-spacing: .5em;
            }
            dd{
                float: left;
                a{
                    margin:0 10px;
                    color: #38d;
                }
                .updateCount{
                    width: 22px;
                    height: 30px;
                    border: 1px solid #ccc;
                }
                #add{
                    margin-right: 10px;
                }
                .txt{
                    width: 37px;
                    height: 30px;
                    padding: 5px;
                    margin: 0 5px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    background: #fff;
                }
            }
            .yigoujia{
                color:#e00;
                font-size: 30px;
                font-weight:700;
                i{
                    font-size: 18px;
                    font-style: normal;
                }
                span{
                    font-size: 24px;
                }
            }
            .youhuijuan{
                span{
                    width: 65px;
                    height: 18px;
                    display: inline-block;
                    background: url(../img/xianqingyeicon.png) no-repeat -359px -406px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
            .group{
                margin-left: 72px;
            }
            .olabel{
                margin-right: 10px;
                label{
                    display: inline-block;
                    width: 52px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    color: #FF6600;
                    border:1px solid #FF6600;
                    position: relative;
                }
                .lsj{
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border: 4px solid #ccc;
                    border-top-color: transparent;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    margin-left: 4px;
                }
            }
            .marginr0{
                margin-right: 0;
            }
            .unique{
                img{
                    margin-left: -4px;
                    margin-bottom: 30px;
                }
            }
        }
        .super-con{
                line-height: 18px;
                overflow: hidden;
                margin-top: 8px;
            
            dd{
                img{
                    display: inline-block;
                    vertical-align: text-bottom;
                }
            }
            .group{
                margin-right: 10px;
            }
        }
        .super-agreements{
            position: absolute;
            right: 10%;
            top: 20%;
            a{
                display: inline-block;
                text-align: right;
                line-height: 18px;
                dd:nth-of-type(1){
                    float: right;
                } 
                dd:nth-of-type(2){
                    float: right;
                    clear: right;
                    color: #666666;
                    font-weight: 600;
                } 
            }
        }
        .kf{
            img{
                @include publicimg();
                margin-right: 4px;
            }
        }
        .proinfo-item{
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px dotted #ccc;
            ul{
                width: 484px;
                float: left;
                li{
                    margin: 0 5px 5px 0;
                    border: 1px solid #ccc;
                    padding: 1px 8px 1px 1px;
                    min-width: 60px ;
                    text-align: center;
                    a{
                        margin: 0;
                        img{
                            @include publicimg();
                             @include publicwh(36px,36px);
                             margin-right: 4px;
                        }
                    }
                }
            }
        }
        .shop{
            clear: left;
            padding:15px 11px;
            border-bottom: 1px dotted #ccc;
            .shopbtn{
                border: 0;
                margin-right: 10px;
                color: #fff;
                .gomoney{
                    padding: 5px 15px;
                    background: #000;
                }
                .addshop{
                    width: 100px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: #f60;
                }
            }
        }
    }
}


.content{
    @include publicwh(1190px,auto);
    margin: 10px auto 0;
    position: relative;
    overflow: hidden;
    .content-left{
        width: 190px;
        float: left;
        min-height: 500px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        .left-tit{
            padding-left: 10px;
            line-height: 34px;
            font-size: 14px;
            border-bottom: 1px solid #ccc;
        }
        .left-con{
            .left-con-group{
                padding: 10px 0;
                margin: 1px 10px -1px;
                a{
                    img{
                        width: 120px;
                        height: 120px;
                        margin: 0 auto;
                    }
                }
                p{
                    height: 36px;
                    margin: 5px 0;
                    span{
                        background: #f60;
                        color: #FFFFFF;
                    }
                    i{
                        font-style: normal;
                        color: #f60;
                    }
                }
            }
        }
    }
    .content-right{
        width: 988px;
        box-sizing: border-box;
        margin-left:10px;
        float: left;
        border: 1px solid #ccc;
        .right-tit{
            height: 47px;
            line-height: 47px;
            background: #ddd;
            font-size: 14px;
            width: 986px;
            z-index: 9;
            ul{
                .tit-active{
                    background: #fff;
                    border-top: 2px solid #f60;
                    color: #f60;
                    height: 47px;
                    box-sizing: border-box;
                }
                li{
                    padding: 0 25px;
                }
            }
            .right-tit-r{
                background: #f60;
                position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                color: #fff;
                text-align: center;
            }
        }
        .right-con-group{
            display: none;
            .con-group{
                height: 220px;
                background-color: #fff7e8;
                .con-group-left{
                    width: 245px;
                    padding: 18px;
                    border-right: 1px solid #eb7c00;
                    overflow: hidden;
                    float: left;
                    .cont-group-left-t{
                        .allper{
                           font-size: 48px;
                           color: #EB7C00;
                           float: left;
                        }
                        .agreeall{
                            float: left;
                            line-height: 20px;
                            margin: 10px 0 0 20px;
                            span{
                                display: block;
                            }
                            span:nth-of-type(1){
                               color: #000;
                               font-size: 14px;
                            }
                             span:nth-of-type(2){
                               color: #666;
                               font-size: 12px;
                            }
                        }
                    }
                .cont-group-left-b{
                    ul{
                        li{
                            line-height: 24px;
                            height: 24px;
                            span{
                                display: inline-block;
                                vertical-align:middle;
                                width: 130px;
                                height: 15px;
                                background: #FF6600;
                            }
                        }
                    }
                }
                }
                .con-group-ri{
                    float: left;
                    padding: 14px 20px;
                    line-height: 30px;
                    width: 666px;
                    box-sizing: border-box;
                    .look{
                        float: right;
                        color: #3388DD;
                    }
                    h2{
                        font-size: 14px;
                        font-weight: bold;
                        color: #FF6600;
                    }
                    .spancolor000{
                        color: #000;
                    }
                    .bordbot{
                        color: #900;
                        border-bottom: 1px dashed #ccc;
                        span{
                            margin-right: 20px;
                        }
                    }
                    
                }
            }
           .right-con-three{
               padding: 10px;
               li{
                   padding: 10px 0;
                   line-height: 24px;
               }
           }
        }
        .proinfo-canshu{
            .group-parameter{
                overflow: hidden;
                float: left;
            }
            width: 780px;
            .gp-he{
                margin: 20px;
                color: #666;
                overflow: hidden;
                border:1px solid #ddd;
                width: 746px;
            }
            .gp-he-con{
                    width: 746px;
                    box-sizing: border-box;
                    padding: 20px 18px;
                    overflow: hidden;
                        li{
                            width: 50%;
                            box-sizing: border-box;
                            text-align: left;
                            height: 20px;
                        }
               }
            .gp-he-tit{
                height: 30px;
                line-height: 30px;
                background: #eee;
                border-bottom: 1px solid #ddd;
                .gp-he-le{
                    float: left;
                    font-weight: 600;
                }
                .gp-he-ri{
                    float: right;
                    margin-right: 10px;
                    a{
                        color: #6A9FDE;
                    }
                }
            }
            .group-right-position{
                position: relative;
                margin-left: 827px;
                background: #f9fafb;
                top: 20px;
                height: 12060px;
                width: 159px;
                ul{
                    position: absolute;
                    top: auto;
                    width: 159px;
                    font-size: 14px;
                    padding:68px 0 100px 0;
                    line-height: 38px;
                    li{
                        height: 38px;
                        float: none;
                        padding-left: 20px;
                    }
                    .rpoi-active{
                        background: #FF6600;
                        position: relative;
                        color: #fff;
                    }
                    .rpoi-active::after{
                        content: "";
                        border: 8px solid  #f60;
                        height: 0;
                        width: 0;
                        border-top-color: transparent;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                        @include public(30%,-16px);
                    }
                }
            }
            .gp-detail{
                padding: 20px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.shopcarbtn button{
    border: 0;
    background: #FF6600;
    width: 100px;
    height: 40px;
    outline: none;
    cursor: pointer;
}
